body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding: 0 10px;
  background-color: gray;
}

header {
  text-align: center;
}

img{
  text-align: center;
  margin: auto;
}

#featured-property {
text-align: center;
margin: auto;
}
#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
}
#details{
  background-color: red;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
#details div {
  display: grid;
  text-align: center;
  
}
#details h3 {
  margin-bottom: 10px;
}